<div class="leave-container">
    <div class="form-box">
      <h4>Leave Application Form</h4>
      <form (ngSubmit)="submitForm()" #leaveForm="ngForm">
        
        <div class="form-group">
          <label for="startDate">Start Date of Leave:</label>
          <mat-form-field appearance="fill">
            <mat-label>select a date</mat-label>
            <input matInput [matDatepicker]="startPicker"
                   [matDatepickerFilter]="isDateDisabled" 
                   [min]="minStartDate" 
                   [(ngModel)]="dateS.startLeave"
                   name="startDate" 
                   #startDateInput="ngModel" 
                   required>
            <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
            <mat-error *ngIf="startDateInput.invalid && (startDateInput.dirty || startDateInput.touched)">
              Start date is required.
            </mat-error>
          </mat-form-field>
        </div>
  
        <div class="form-group">
          <label for="endDate">End Date of Leave:</label>
          <mat-form-field appearance="fill">
            <mat-label>select a date</mat-label>
            <input matInput [matDatepicker]="endPicker"
                   [matDatepickerFilter]="isDateDisabled"
                   [min]="dateS.startLeave ? dateS.startLeave : minStartDate"
                   [(ngModel)]="dateS.endLeave"
                   name="endDate" 
                   #endDateInput="ngModel" 
                   required>
            <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
            <mat-error *ngIf="endDateInput.invalid && (endDateInput.dirty || endDateInput.touched)">
              End date is required.
            </mat-error>
          </mat-form-field>
        </div>
  
       
        
          <p style="color: red;">{{days}}</p>
        <button mat-raised-button color="primary" type="submit" [disabled]="leaveForm.invalid">Update</button>
      
   
      </form>
    </div>
  </div>
  