.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust to increase page height */
  background: url("C:/Users/Imed/Desktop/internship_xxx(5)/leave_workflow/src/app/assets/image.jpg") no-repeat center center fixed;
  background-size: cover;
}

.login-box {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.login-box h2 {
  margin-bottom: 2rem;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1rem;
}

.btn {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Blue color */
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.btn.clicked {
  background-color: #cccccc; /* Grey when clicked */
}
